@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-general-primary: #6b67dd;
  --color-general-primary-medium: #7173df;
  --color-general-primary-light: #e0dcfa;
  --color-general-primary-lightest: #eae4ff;

  --color-general-background: #e8e8e8;
  --color-general-darker-background: #c7c2cb;
  --color-general-white: #f8f8f8;
  --color-general-tertiary: #f1d9ff;

  --color-text-primary: #040404;
  --color-text-secondary: #6e6e6e;
  --color-text-placeholder: #9c9c9c;

  --color-layout-surface: #f2f2f2;
  --color-layout-surface-dark: #e5e5e5;
  --color-layout-border: #d4d4d4;

  --color-custom-bg-primary: #e5e2ff;
  --color-custom-bg-secondary: #f0f4ff;

  --font-sans: "Montserrat", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.custom-messages-bg {
  background-color: rgba(99, 99, 255, 0.023);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      rgba(248, 248, 255, 0.35) 50px
    ),
    repeating-linear-gradient(
      rgba(245, 246, 255, 0.501),
      rgba(211, 210, 255, 0.402)
    );

  box-shadow: inset 0px 1px 4px 0px #dcd7e697;
}

.custom-inner-shadow {
  box-shadow: inset 0px 2px 8px 0px #b99dd3;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

/* Para Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
